<!-- Banner celeste con texto en movimiento -->
<div class="top-banner">
  <div class="top-banner-track">
    <span>+ 1000 ARGENTINOS YA NOS ELIGIERON •</span>
    <span>+ 1000 ARGENTINOS YA NOS ELIGIERON •</span>
    <span>+ 1000 ARGENTINOS YA NOS ELIGIERON •</span>
    <span>+ 1000 ARGENTINOS YA NOS ELIGIERON •</span>
  </div>
</div>

<!-- HEADER -->
<header class="site-header">
  <div class="container header-inner">
    <button class="nav-toggle" type="button"><span></span><span></span><span></span></button>

    <div class="logo">
      <a href="index.html"><img src="assets/img/banners/logo encabezado.webp" class="logo-img" alt="Exiluz"></a>
    </div>

    <a href="carrito.html" class="cart-link">
      <span class="cart-icon">🛒</span>
      <span id="cart-count" class="cart-count">0</span>
    </a>
  </div>
</header>
